{{ partial "header.html" . }}
  <div id="content">
    <div class="tile">
      <h1 class="page-title">Posts</h1>
      <hr class="full-bleed">
      {{ range $i, $post := .Pages.ByDate.Reverse }}
      {{ if .Params.draft }}{{ else }}
      <div style="margin: 1em 0">
        <a href="{{.Permalink}}" class="heading" style="font-size: 1.5em;">{{if .Params.htmlTitle}}{{.Params.htmlTitle | safeHTML}}{{else}}{{.Title}}{{end}}{{if .Params.subtitle }}<span class="inline not-bold">:</span> <span class="inline not-bold"> {{.Params.subtitle}} </span>{{end}}</a>
        {{ $date := .Date.Format "January 2SUFFIX, 2006" }}
        {{ $day := .Date.Format "2" }}
        {{ $suffix := "th" }}
        {{ if or (eq $day "1") (or (eq $day "21") (eq $day "31")) }}
          {{ $suffix = "st" }}
        {{ else if or (eq $day "2") (eq $day "22") }}
          {{ $suffix = "nd" }}
        {{ else if or (eq $day "3") (eq $day "23") }}
          {{ $suffix = "rd" }}
        {{ end }}
        <p class="sub-title">{{ replace $date "SUFFIX" $suffix }}</p>
      </div>
      {{ end }}{{ end }}
    </div>
  </div>
{{ partial "footer.html" . }}