<div class="footer">
  <div><span class="copyright">{{ replace `Copyright © 2015-{year} <a href="/about" class="inline-block">Benjamin Elder</a>` "{year}" now.Year | safeHTML}}. <a class="nowrap" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a><span style="padding-left: .25em; padding-right: .25em;">•</span><span class="nowrap">Source <a href="https://github.com/BenTheElder/site">On GitHub</a></span>{{if .GitInfo}} @ <a href="https://github.com/BenTheElder/site/commit/{{.GitInfo.Hash}}">{{.GitInfo.AbbreviatedHash}}</a>{{end}}</span> <span class="emoji" style="background-image:url(/images/slackmoji/ship_it_parrot.gif)" title=":ship_it_parrot:">:ship_it_parrot:</span></div>
  <div><a href="#top">&#11014;&#65039; Back To The Top &#11014;&#65039;</a></div>
</div>
</body>
</html>
