<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  <div class="header" id="top">
    <div class="left"><a href="/"><span style="font-weight: bold;">Benjamin Elder</span></a></div>
    <div class="right"><a href="/posts"><span class="icon" style="background-image:url(/images/memo-black-edit.png); margin-right: .1em;" title="posts">posts</span></a><a href="https://www.twitter.com/BenTheElder"><span class="icon" style="background-image:url(/images/twitter-512.png); background-size: 75%;" title="twitter">twitter</span></a><a href="https://www.github.com/BenTheElder"><span class="icon" style="background-image:url(/images/GitHub-Mark-120px-plus.png); background-size: 70%" title="github">github</span></a></div>
  </div>