<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  <div class="header" id="top">
    <div class="left" style="max-width: 60%; text-align: left;"><a href="/"><span style="font-weight: bold;">ELDER•DEV</span></a></div>
    <div class="right"><a href="/posts"><span class="icon" style="background-image:url(/images/memo-black-edit.png); margin-right: .1em;" title="Posts">Posts</span></a><a rel="me" href="https://mastodon.social/@BenTheElder"><span class="icon" style="background-image:url(/images/mastodon-black-icon.png); background-size: 75%;" title="Mastodon">Mastodon</span></a><a href="https://www.twitter.com/BenTheElder"><span class="icon" style="background-image:url(/images/twitter-512.png); background-size: 75%;" title="Twitter">Twitter</span></a><a href="https://www.github.com/BenTheElder"><span class="icon" style="background-image:url(/images/GitHub-Mark-120px-plus.png); background-size: 74%" title="GitHub">GitHub</span></a></div>
  </div>